### IDE ###
.vscode/
*.idea

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Python ###
# Byte-compiled / optimized / DLL files
*__pycache__/*
*.pyc
*.pyo
*pytest_cache*
*.ipynb

### Frontend ###
*/node_modules/*
*/yarn-error.log
*/build/*
*/package-lock.json


### OTHER ###
deploy/
dump.rdb




# Unit test / coverage reports
frontend/coverage*
src/.coverage
src/coverage.*